<!DOCTYPE html>
<html>
<head>
  <style>
    /* Add your CSS styles here */
    #sidebar {
      width: 200px;
      background-color: #f1f1f1;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      padding: 20px;
    }

    #content {
      margin-left: 220px;
      padding: 20px;
    }

    #sidebar ul {
      list-style-type: none;
      padding: 0;
    }

    #sidebar li {
      margin-bottom: 10px;
    }

    #sidebar li a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }

    #sidebar li a:hover {
      color: #555;
    }
  </style>
</head>
  <div id="sidebar">
<%-include('menu.ejs')%>
</div>
  <div id="content">
    <h2>Welcome to Manufacturing eLog Book</h2>
    <h2>Roles</h2>
    <ul>
      <% roles.forEach(role => { %>
          <div class="row">
    		<div class="col"><li><%= role.grdtlname %></li></div></div>
      <% }); %>
    </ul>
  </div>
</body>
</html>
